.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 65px;

  iframe {
    margin-left: 20px;
  }
}

@media screen and (max-width: 960px) {
  .video {
    padding-left: 10px;
    padding-right: 30px;
    iframe {
      margin-bottom: 20px;
    }
  }

  .slick-slide img {
    display: inline;
}
}