.footer {
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  padding: 50px 130px;
  flex-wrap: wrap;

  &__explore {
    h3 {
      font-size: 20px;
      line-height: 30px;
    }
    ul {
      margin-top: 10px;
      li {
        font-size: 13px;
        line-height: 21px;
        font-weight: bold;
      }
    }
  }

  &__about {
    width: 370px;
    h3 {
      font-weight: bold;
      font-size: 19px;
      line-height: 30px;
    }

    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__address {
    margin-top: 20px;
    span {
      display: block;
      font-size: 13px;
      line-height: 21px;
      font-weight: bold;
    }
  }
}

.short-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 130px;
  span {
    font-size: 12px;
    line-height: 19px;
  }
  &__orange {
    color: #FF4A32;
  }
  &__pays {
    img {
      margin-right: 6px;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 50px 30px;
  }

  .short-info {
    padding: 20px 10px;
  }
}